.containerDesign {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: minmax(100px, auto);
    justify-content: center;  /* zentriert im container entlang der achse */
}


.box {
    display: flex;
    align-items: center; /* richtet elemente an der achse senkrecht in der box aus für flex*/
    justify-content: space-between; /* richtet elemente an der achse waagrecht in der box aus für grid*/
    padding: 20px;
}


.square {
    display: flex;
    border-radius: 0px;
    width: 80px;
    height: 50px;
    padding: 15px;
}



.circle {
    display: flex;
    height: 50px;
    width: 50px;
    padding: 15px;
    margin: 15px;
    border-radius: 50%;
}


.minimalYetWarmOne {
    background-color: #EAE7DC;
}

.minimalYetWarmTwo {
    background-color: #D8C3A5;
}

.minimalYetWarmThree {
    background-color: #8E8D8A;
}

.minimalYetWarmFour {
    background-color: #E98074;
}

.minimalYetWarmFive {
    background-color: #E85A4F;
}


.corporateAndTraditionalOne {
    background-color: #88BDBC;
}

.corporateAndTraditionalTwo {
    background-color: #254E58;
}

.corporateAndTraditionalThree {
    background-color: #112D32;
}

.corporateAndTraditionalFour {
    background-color: #4F4A41;
}

.corporateAndTraditionalFive {
    background-color: #6E6658;
}


.stylishAndSophisticatedOne {
    background-color: #5D5C61;
}

.stylishAndSophisticatedTwo {
    background-color: #379683;
}

.stylishAndSophisticatedThree {
    background-color: #7395AE;
}

.stylishAndSophisticatedFour {
    background-color: #557A95;
}

.stylishAndSophisticatedFive {
    background-color: #B1A296;
}



/* 
.brown-medium {
    background-color: rgb(167, 92, 62);
}

.brown-dark {
    background-color: rgb(93, 43, 34);
}


.green-light {
    background-color: rgb(146, 235, 146);
}

.green-medium {
    background-color: rgb(120, 187, 120);
}

.green-dark {
    background-color: rgb(38, 121, 38);
}



.blue-light {
    background-color: rgb(160, 160, 240);
}

.blue-medium {
    background-color: rgb(103, 103, 170);
}

.blue-dark {
    background-color: rgb(43, 43, 119);
}


.grey-light {
    background-color: rgb(209, 209, 209);
}

.grey-medium {
    background-color: rgb(153, 153, 153);
}

.grey-dark {
    background-color: rgb(100, 100, 100);
}

.clrful_one {
    background-color: #E27D60;
}


.clrful_two {
    background-color: #E8A87C;
}


.clrful_three {
    background-color: #C38D9E;
} */