
.containerDesign {
    display: grid;
    grid-template-columns: 50%;
    grid-template-rows: minmax(100px, auto);
    justify-content: center;  /* zentriert im container entlang der achse */
}


.box {
    display: grid;
    align-items: center; /* richtet elemente an der achse senkrecht in der box aus für flex*/
    justify-content: flex-start; /* richtet elemente an der achse waagrecht in der box aus für grid*/
    padding: 20px;
}


.heading {
    font-size: 24px;
    padding: 10px;
}


.text {
    font-size: 14px;
}


.font_Cinzel {
    
    font-family: 'Cinzel', serif;

}


.font_CourierPrime {
    
    font-family: 'Courier Prime', monospace;

}


.font_Dancing {

    font-family: 'Dancing Script', cursive;

}


.font_Finger {

    font-family: 'Finger Paint', cursive;
}


.font_GFS {

    font-family: 'GFS Neohellenic', sans-serif;
}


.font_FellGreat {
    font-family: 'IM Fell Great Primer SC', serif;

}


.font_Inconsolata {
    font-family: 'Inconsolata', monospace;

}


.font_Lateef {
    font-family: 'Lateef', cursive;

}


.font_Martel {
    font-family: 'Martel', serif;

}


.font_Monoton {
    font-family: 'Monoton', cursive;

}


.font_Montserrat {
    font-family: 'Montserrat', sans-serif;
    
}


.font_PermanentMarker {
    font-family: 'Permanent Marker', cursive;

}


.font_Playfair {
    font-family: 'Playfair Display', serif;

}

.font_Quattrocento {
    font-family: 'Quattrocento', serif;

}


.font_Quicksan {
    font-family: 'Quicksand', sans-serif;
    
}

.font_Recursive {
    font-family: 'Recursive', sans-serif;

}


.font_Roboto {
    font-family: 'Roboto Condensed', sans-serif;

}


.font_RobotoMono {
    font-family: 'Roboto Mono', monospace;

}


.font_Pro {
    font-family: 'Source Code Pro', monospace;

}

.font_Viga {
    font-family: 'Viga', sans-serif;

}







