
.containerDesign {
    display: grid;
    grid-template-columns: 75%;
    grid-template-rows: minmax(100px, auto);
    justify-content: center;  /* zentriert im container entlang der achse */
}


.box {
    display: grid;
    align-items: center; /* richtet elemente an der achse senkrecht in der box aus für flex*/
    justify-content: flex-start; /* richtet elemente an der achse waagrecht in der box aus für grid*/
    padding: 20px;
}


.heading {
    font-size: 24px;
    padding: 10px;
}


.text {
    font-size: 14px;
}


.font_Quicksan {
    font-family: 'Quicksand', sans-serif;
    
}

.font_oswald {
    font-family: 'Oswald', sans-serif;
}

.font_Lato {
    font-family: 'Lato', sans-serif;

}

.font_montserrat {
    font-family: 'Montserrat', sans-serif;

}

.font_raleway {
    font-family: 'Raleway', sans-serif;

}

